<div class="container">

  <h2>Welcome to the brand webpage</h2>

  <%if @brands != []%>
    <% @brands.each do |brand| %>
      <p><a href="/brands/<%=brand.id %>"><%=brand.name%>----<%=brand.price%></a></p>
      <%if brand.shoes != []%>
       <% brand.shoes.each do |shoe| %>
        <p> <%= shoe.name%> </p>
        <% end %>
        <% else %>
        <option value="" disabled selected>no shoes yet</option>
      <% end %>
    <% end %>
    <% else %>
      <h2>no entered brands yet</h2>
    <% end %>



  <form class="container form-group button" action="/brands" method="post">
    <label for="brandName">Enter a Brand</label>
    <input type="text" name="brandName" id="brandName">
    <label for="brandPrice">Enter its Price</label>
    <input type="int" name="brandPrice" id="brandPrice">
    <button  type="submit" class="btn btn-info">Add A Brand </button>
  </form>


  <form class="container form-group button" action="/brands/delete" method="delete" name="brands">
   <select id="brands_delete" name="brands_delete">
     <%if @brands != []%>
      <% @brands.each do |brand| %>
       <option value = "<%= brand.id %>" > <%= brand.name%> </option>
       <% end %>
       <% else %>
       <option value="" disabled selected>no brands yet</option>
       <% end %>
     </select>
    </select>
   <button  type="submit" class="btn btn-info"name="button">Delete A Brand</button>
 </form>

 <form class="container form-group button" action="/brands/update" method="update" name="brand_update">
  <select id="brand_update" name="brand_update">
   <%if @brands != []%>
    <% @brands.each do |brand| %>
     <option value = "<%= brand.id %>" > <%= brand.name %> </option>
     <% end %>
     <% else %>
     <option value="" disabled selected>no brands yet</option>
     <% end %>
   </select>

   <label id="rename_brand" name="rename_brand" type = "text">Rename Brand Title</label>
   <input type="text" name="rename_brand">

   <label id="reprice_brand" name="reprice_brand" type = "text">Update Brand Price</label>
   <input type="text" name="reprice_brand">

  <button type="submit" class="btn btn-info"name="button">Update Brand</button>
</form>


  <form class="container form-group button" action="/brands" method="post" name="brands">
  <input type="hidden" name="_method" value="patch">
  <select id="brands_update" name="brands_update">
   <%if @brands != []%>
    <% @brands.each do |brand| %>
     <option value = "<%= brand.id %>" > <%= brand.name%> </option>
     <% end %>
     <% else %>
     <option value="" disabled selected>no brands yet</option>
     <% end %>
   </select>

  <select id="shoes_update" name="shoes_update">
   <%if @shoes != []%>
    <% @shoes.each do |shoe| %>
     <option value = "<%= shoe.id %>" > <%= shoe.name%> </option>
     <% end %>
     <% else %>
     <option value="" disabled selected>no shoes yet</option>
     <% end %>
   </select>


  <button type="submit" class="btn btn-info"name="button">Add a shoe to a brand</button>
</form>

</div>
